@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat, 300');

 body {
	 -webkit-font-smoothing: antialiased;
	 -webkit-text-size-adjust: none !important;
 }

// GLOBAL STUFF
.router {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body {
	overflow: hidden;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#app {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.global-container {
	display: block;
	padding: 50px 5% 50px 5%;
	box-sizing: border-box;
	position: relative;
	h1 {
		line-height: 5vh;
	}
	.btn {
		font-weight: 500;
		font-size: 17px;
		background-color: $bleufonce;
		color: #fff;
		border: 2px solid transparent;
		border-radius: 30px;
		padding: 15px 25px;
		margin-top: 30px;
		cursor: pointer;
		min-width: 200px;
		transition: .3s ease-in-out;
		&:hover {
			background-color: transparent;
			border: 2px solid $bleufonce;
			color: $bleufonce;
		}
		&:focus {
			outline: none;
		}
	}
}

.fade-slide-enter-active,
.fade-slide-leave-active {
	transition: all 1s ease;
}

.fade-slide-enter {
	opacity: 0;
	transform: translate3d(-5%, 0, 0);
}

.fade-slide-leave-to {
	opacity: 0;
	transform: translate3d(5%, 0, 0);
}

.fade-enter-active,
.fade-leave-active {
	transition: 1s all;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// HOME
.home {
	background: pink;
	min-height: 100vh;
	background: url('./assets/fond-ecran1.png') no-repeat right center;
	background-size: contain;
	@media (max-width: 1200px) {
		background-size: cover;
	}
	.apropos {
		color: $bleufonce;
		position: absolute;
		font-size: 20px;
		cursor: pointer;
		span {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 0;
				background-color: $bleufonce;
				left: 0;
				bottom: -5px;
				transition: .3s ease-in-out;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		min-height: calc(100vh - 100px);
		& > * {
			padding: 50px 0;
		}
		@media (max-width: 1200px) {
			& > * {
				padding: 50px 0;
			}
		}
		.left-wrapper {
			flex: 60%;
			flex-shrink: 1;
			@media (max-width: 1200px) {
				flex-basis: 100%;
			}
			.title {
				color: black;
				font-weight: bold;
				font-size: 25px;
				letter-spacing: 1px;
				line-height: 1.5em;
			}
			.content {
				margin-top: 30px;
				font-weight: 100;
				line-height: 1.5em;
			}
		}
		.right-wrapper {
			flex: 40%;
			flex-shrink: 2;
			img {
				width: 100%;
			}
		}
	}
	.mentions-legales {
		position: absolute;
		right: 20px;
		bottom: 20px;
		cursor: pointer;
		@media (max-width: 1200px) {
			display: block;
			position: relative;
			text-align: center;
		}
		span {
			transition: .3s ease-in-out;
			color: $grisfonce;
			&:hover {
				color: black;
			}
		}
	}
}

// SLIDE
.slide {
	max-height: 100vh;
	overflow: hidden;
	background-size: contain;
	background: no-repeat top right;
	background-size: 35%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	.choices {
		position: relative;
		display: block;
		margin-top: 5vh;
		min-height: 55vh;
		.choice {
			position: absolute;
			cursor: pointer;
			&.selected {
				.name {
					color: black;
					opacity: 1;
				}
				.img-container {
					&::after {
						background-color: darken($grisclair, 15%)
					}
				}
			}
			&:hover {
				.name {
					opacity: 1;
				}
			}
		}
	}
	.counter {
		position: absolute;
		right: 5%;
		top: 5%;
		.count-current {
			color: $bleufonce;
			font-size: 2rem;
			position: relative;
			&::after {
				content: '';
				height: 1px;
				background-color: black;
				position: absolute;
				left: 50%;
				right: 0;
				bottom: 0;
			}
		}
		.count-total {
			color: black;
			top: 5px;
			position: relative;
			text-align: right;
			font-weight: 100;
			width: 100%;
			display: block;
		}
	}
}

/* SINGLE SLIDE FIX */

.slide-2 {
	background-position: bottom right;
}

.slide-3 {
	.choice {
		.img-container {
			&::after {
				content: none;
			}
		}
	}
}

/* RESULTS */

.slide.results {
	background: url('./assets/fond-ecran6.png') no-repeat center right;
	.subtitle {
		font-size: 15px;
	}
	.img-illu {
		position: absolute;
		bottom: -5vh;
		width: 11vw;
		right: 5%;
	}
	.container {
		display: flex;
		margin-top: 50px;
		h2 {
			font-size: 20px;
		}
		.left-container {
			flex: 40%;
			.donut-container {
				display: flex;
				.legends {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					img {
						width: 40px;
					}
					figcaption {
						font-size: 13px;
						padding-left: 20px;
					}
				}
			}
			.vitamin-container {
				margin-top: 50px;
			}
		}
		.right-container {
			flex: 55%;
			.salary-container {
				display: flex;
				width: 50%;
				min-width: 300px;
				text-align: center;
				.salary {
					margin: 0 5px;
					padding: 0 5px;
					.salary-text {
						font-size: 12px;
						margin-top: 15px;
					}
					&[data-order='moins de 15 000 $ '] {
						order: 0
					}
					&[data-order='15 001 $ à 30 000 $'] {
						order: 1
					}
					&[data-order='30 001 $ à 50 000 $'] {
						order: 2
					}
					&[data-order='50 001 $ à 70 000 $'] {
						order: 3
					}
					&[data-order='70 001 $ à 99 999 $'] {
						order: 4
					}
					&[data-order='100 000 $ et plus'] {
						order: 5
					}
					.gauge {
						text-align: center;
						width: 25px;
						height: 350px;
						background-color: $grisclair;
						position: relative;
						margin: auto;
						.blue {
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 100px;
							background-color: $bleuclair;
						}
					}
					&:last-of-type {
						.blue {
							background-color: $bleufonce;
						}
					}
				}
			}
		}
	}
}